@use '../../styles/colors';

.digit {
  --bar-width: 10px;
  --bar-height: 60px;

  position: relative;
  width: calc(var(--bar-width) + var(--bar-height));
  height: calc(1.5 * var(--bar-width) + 2 * var(--bar-height));
  &_bar {
    position: absolute;
    background-color: #292517;
    &#{&}__active {
      background-color: #f4bb00;
    }
    &#{&}__h {
      width: var(--bar-height);
      height: var(--bar-width);
    }
    &#{&}__v {
      width: var(--bar-width);
      height: var(--bar-height);
    }
    &#{&}__0 {
      top: calc(var(--bar-width) / 4 + var(--bar-height));
      left: calc(var(--bar-width) / 2);
    }
    &#{&}__1 {
      top: calc(var(--bar-width) / 2);
      left: calc(var(--bar-height));
    }
    &#{&}__2 {
      top: 0;
      left: calc(var(--bar-width) / 2);
    }
    &#{&}__3 {
      top: calc(var(--bar-width) / 2);
      left: 0;
    }
    &#{&}__4 {
      top: calc(var(--bar-width) + var(--bar-height));
      left: 0;
    }
    &#{&}__5 {
      left: calc(var(--bar-width) / 2);
      top: calc(var(--bar-width) / 2 + 2 * var(--bar-height));
    }
    &#{&}__6 {
      top: calc(var(--bar-width) + var(--bar-height));
      left: calc(var(--bar-height));
    }
    &#{&}__c {
      border-radius: 3rem;
    }
    &#{&}__vcl {
      border-radius: 3rem 0 0 3rem;
    }
    &#{&}__vcr {
      border-radius: 0 3rem 3rem 0;
    }
    &#{&}__hct {
      border-radius: 3rem 3rem 0 0;
    }
    &#{&}__hcb {
      border-radius: 0 0 3rem 3rem;
    }
  }
}

.clock {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;

  padding: 20px;

  background-color: colors.$dark-bg;
}

.blinker {
  position: relative;
  width: 10px;
  height: 80px;
  &_dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #292517;
    &__1 {
      top: #{80px - 10px};
    }
  }
  &__blink {
    .blinker_dot {
      background-color: #f4bb00;
    }
  }
}
