@use '../../styles/colors' as colors;
@use '../../styles/mixins' as lib;

.board {
  :global {
    .outline {
      fill: colors.$bg;
      stroke: colors.$fg;
    }
  }
}

@include lib.when-dark() {
  .board {
    :global {
      .outline {
        fill: colors.$dark-bg;
        stroke: colors.$dark-fg;
      }
    }
  }
}
