@use '@/styles/colors' as lib;
@use '@/styles/mixins' as mx;

.priority {
  display: none;
}

.imageWrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.image {
  object-fit: contain;
  box-shadow: 4px 4px 0 0 lib.$fg;
  &.image__covered {
    filter: blur(10px);
  }
  &.image__uncovered {
    filter: blur(0);
  }
}
