@use "../../styles/colors";
@use "../../styles/mixins";

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  &_table {
    border-collapse: collapse;
  }
  &_td {
    border: 1px solid colors.$fg;
    border-collapse: collapse;
    width: 0;
    height: 0;
    position: relative;
  }
  &_definition {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
    background-color: colors.$bg;
    color: colors.$fg;
  }
  &_input {
    border: 0;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  &_black {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid colors.$bg;
    background-color: colors.$fg;
  }
  &_caption {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: serif;
  }
  &_definitions {
    font-family: serif;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  &_directionDefinitions {
    width: 50%;
    flex-grow: 1;
  }
  &_definitionInput {
    font-family: serif;
    border-width: 0 0 1px;
    @media print {
      border-width: 0;
    }
    min-width: 200px;
  }
}

@include mixins.when-dark() {
  .app {
    &_td {
      border: 1px solid colors.$dark-fg;
    }
    &_input, &_definitionInput, &_definition {
      color: inherit;
      background-color: inherit;
    }
    &_black {
      border: 1px solid colors.$dark-bg;
      background-color: colors.$dark-fg;
    }
  }
}
