@use '../../styles/colors';
@use '../../styles/mixins';

.container {
    width: 100%;
    height: 60vh;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.column {
    width: 100%;
    height: 100%;
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: colors.$fg;
    background-color: colors.$bg;
    border: 1px solid colors.$fg;
    outline: none;
    resize: none;
}

@include mixins.when-dark() {
    .textarea {
        color: colors.$dark-fg;
        background-color: colors.$dark-bg;
        border-color: colors.$dark-fg;
    }
}
