@use "sass:math";
@use "../../styles/colors";
@use "../../styles/mixins";

.cell {
  border: 1px colors.$fg solid;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 1s;
  &__visible {
    opacity: 1;
    @for $cell from 1 through 25 {
      &[data-c="#{$cell}"] {
        transition-delay: #{math.div($cell - 1, 2)}s;
      }
    }
  }
}

@include mixins.when-dark() {
  .cell {
    border-color: colors.$dark-fg;
  }
}
