.slice {
    position: absolute;
    border-bottom: 1px black solid;
    bottom: 0;
    left: 50%;
    box-shadow: 0 0 4px 1px black;
    &__even {
        border-top: 1px black solid;
        transform-origin: center;
    }
    &__odd {
        transform-origin: top center;
    }
}
