@use '../../styles/colors';
@use '../../styles/mixins';
@use 'sass:math';

$cols: 24;
$rows: 17;

$boardWidth: calc(
  (var(--snake-game-cell-width) * #{$cols}) + (var(--snake-game-gutter) * #{($cols - 1)}) + (2 * var(--snake-game-spacing))
);
$boardHeight: calc(
  (var(--snake-game-cell-height) * #{$rows}) + (var(--snake-game-gutter) * #{($rows - 1)}) + (2 * var(--snake-game-spacing))
);

.board {
  width: $boardWidth;
  height: $boardHeight;
  position: relative;
  border: 1px solid colors.$fg;
  pointer-events: none;
  user-select: none;
  &#{&}__noWalls {
    border-style: dashed;
  }
  margin: 0 auto;
}

.cell {
  width: var(--snake-game-cell-width);
  height: var(--snake-game-cell-height);
  position: absolute;
  background-color: colors.$bg;
  &#{&}__snake {
    background-color: colors.$fg;
  }
  &#{&}__apple {
    background-color: #f00;
  }
}

.gamepad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  margin-top: 50px;
  margin-bottom: 50px;

  &_row {
    display: flex;
    width: math.div(100%, math.pow(2, 0.5));
    align-items: center;
    justify-content: center;
  }
  &_col {
    display: flex;
    width: 50%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
  }
  &_button {
    display: block;
    width: 90%;
    height: 90%;
    font-family: 'Noto Emoji';
    font-size: 58px;
    &,
    &:active {
      transform: rotate(-45deg);
      border: 0;
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .gamepad {
    display: none;
  }
}

@include mixins.when-dark() {
  .board {
    border: 1px solid colors.$dark-fg;
  }

  .cell {
    background-color: colors.$dark-bg;
    &#{&}__snake {
      background-color: colors.$dark-fg;
    }
  }
}
