@use "../../styles/colors";
@use "../../styles/mixins";

:global {
    html, body {
        &.stopScrolling {
            overflow: hidden !important;
        }
    }
}

.table {
    border: 1px solid colors.$fg;
    padding: 5px;
    pointer-events: none;
    user-select: none;
    &#{&}__noWalls {
        border-style: dashed;
    }
}

.cell {
    width: 20px;
    height: 20px;
    background-color: colors.$bg;
    &#{&}__snake {
        background-color: colors.$fg;
    }
    &#{&}__apple {
        background-color: #f00;
    }
}

.gamepad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_center {
        display: flex;
    }

}

@media(min-width: 768px) {
    .gamepad {
        display: none;
    }
}

@include mixins.when-dark() {

    .table {
        border: 1px solid colors.$dark-fg;
    }

    .cell {
        background-color: colors.$dark-bg;
        &#{&}__snake {
            background-color: colors.$dark-fg;
        }
    }
}
