html,
body {
  &.stopScrolling {
    overflow: hidden !important;
    // This is to avoid my mistake to trying and make a "focused" board and gamepad
    // https://stackoverflow.com/questions/63625709/css-not-selector-being-ignored
  }
}

:root {
  --snake-game-spacing: 3px;
  --snake-game-cell-width: 10px;
  --snake-game-cell-height: 10px;
  --snake-game-gutter: 2px;
}

@media (min-width: 840px) {
  :root {
    --snake-game-spacing: 6px;
    --snake-game-cell-width: 20px;
    --snake-game-cell-height: 20px;
  }
}
