@use '@/styles/colors' as lib;
@use '@/styles/mixins' as mx;

.list {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  // Remove list properties
  list-style-type: none;
  padding-left: 0;

  &_item {
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 992px) {
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &_item {
      flex-direction: column;
    }
  }
}

.imageWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.image {
  object-fit: contain;
  box-shadow: 4px 4px 0 0 lib.$fg;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0 0 lib.$fg;
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
}


@include mx.when-dark() {
  .image, .cover {
    box-shadow: 4px 4px 0 0 lib.$dark-fg;
  }
}
