@use '@/styles/colors' as lib;
@use '@/styles/mixins' as mx;

.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  // Remove list properties
  list-style-type: none;
  padding-left: 0;

  &_item {
    display: block;
  }
}

.imageWrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}

.image {
  object-fit: contain;
  box-shadow: 4px 4px 0 0 lib.$fg;
  &#{&}__hidden {
    display: none;
  }
}

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 0 0 lib.$fg;
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
  border: 0;
}

.toggler {
  position: relative;
  &_control {
    position: absolute;
    top: -2rem;
    left: 0.5rem;
  }
  &_controlButton {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: lib.$fg;
    font-weight: bold;
    background-color: lib.$bg;
    box-shadow: 2px 2px 0 0 lib.$fg;
    cursor: pointer;
  }
  &_content {
    display: none;
  }

  &#{&}__show {
    .toggler_control {
      top: -3rem;
    }
    .toggler_content {
      display: block;
      margin-top: 1rem;
    }
  }
}

.recordDescription {
  overflow-wrap: anywhere;
  @media(min-width: 992px) {
    overflow-wrap: normal;
  }
}

@include mx.when-dark() {
  .image,
  .cover {
    border: 0;
    box-shadow: 4px 4px 0 0 lib.$dark-fg;
  }
  .toggler_controlButton {
    color: lib.$dark-fg;
    background-color: lib.$dark-bg;
    box-shadow: 2px 2px 0 0 lib.$dark-fg;
  }
}
