.container {
    width: 100%;
    min-height: 400px;
    height: 50vh;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

:export {
    f4bb00: #f4bb00;
    skyColor: rgb(121, 153, 198);
    groundColor: rgb(71, 37, 6);
}
