
.App {
  display: flex;

  flex-direction: column;

  aside {
    padding: 20px;
    nav > ul {
      list-style: none;
      padding: 0;

      > li {
        display: inline;
        + li::before {
          content: ' ';
        }

        > a {
          white-space: nowrap;
        }
      }

    }
  }

  @media(min-width: 768px) {
    flex-direction: row;
    aside {
      width: 256px;
      nav > ul {
        > li {
          display: list-item;
          + li::before {
            content: none;
          }

          > a {
            white-space: normal;
          }
        }

      }
    }
  }

  article {
    flex-grow: 1;
    padding: 20px;
  }

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
