@use '../../styles/colors';
@use '../../styles/mixins';

// Hide theme selector when browser is dark and theme is set as dark
// As it cannot be toggled.
@include mixins.when-theme-dark() {
  .themeSelector {
    display: none;
  }
}

.themeSelector_switch {
  font-family: 'Noto Emoji';
  color: colors.$dark-fg;
  background-color: colors.$dark-bg;
  border-bottom-color: colors.$dark-fg;
  border-right-color: colors.$dark-fg;
}
@include mixins.when-dark() {
  .themeSelector_switch {
    color: colors.$fg;
    background-color: colors.$bg;
    border-bottom-color: colors.$fg;
    border-right-color: colors.$fg;
  }
}
