.App {
  display: flex;

  flex-direction: column;

  aside,
  article {
    padding: 20px;

    .readme + .content {
      margin-top: 2rem;
    }
  }

  aside {
    nav > ul {
      list-style: none;
      padding: 0;

      > li {
        display: inline;
        + li::before {
          content: ' ';
        }

        > a {
          white-space: nowrap;
        }
      }
    }

    .last-build {
      display: none;
    }
  }

  @media (min-width: 768px) {
    $width: 256px;
    flex-direction: row;
    aside {
      width: $width;
      nav > ul {
        > li {
          display: list-item;
          + li::before {
            content: none;
          }

          > a {
            white-space: normal;
          }
        }
      }

      .last-build {
        display: block;
      }
    }

    article {
      width: calc(100% - #{$width});
    }
  }
}
